<h1 align="center">
    Welcome to About!
</h1>
<center>
    <img src="/images/gambar.jpg" width="150" height="180">
</center>
<!-- Ini adalah elemen h2 dengan kelas CSS untuk teks tengah -->
<h3 align="center">
    Redup boleh padam. Kita hidup di zaman elektronik jadi belajar coding itu penting kawan. Tetap semangat jangan pernah menyerah dengan keadaan.
    
</h3>