<%- include('layout/header') %>
<%- include('layout/nav') %>
<h1>Hello to About</h1>
<h2><p>Redup boleh padam. Jangan, kita hidup di zaman elektronik jadi belajar coding itu penting kawan. Tetap semangat jangan pernah menyerah dengan keadaan.</h2></p>
<%- include('Layout/footer') %>