<h1 class="text-center text-m-start" align="center">
    Welcome to About!
</h1>
<!-- Ini adalah elemen h2 dengan kelas CSS untuk teks tengah -->
<h3 class="text-center text-m-start fixed-center" align="center">
    Redup boleh padam. Jangan, kita hidup di zaman elektronik jadi belajar coding itu penting kawan. Tetap semangat jangan pernah menyerah dengan keadaan.
    
</h3>