<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <h3>Links</h3>
    <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/product/6">Product</a></li>
    <ul>
        <h1>THIS IS CONTACT PAGE</h1>
        <% contacts.forEach(contact => { %>
            <li>Nama: <%= contact.nama %></li>
            <p>NoHp: <%= contact.hp %></p>
            <% }); %>   
    </ul>
</body>
</html>