<%- include('layout/header') %>
<%- include('layout/nav') %>
<h1> Welcome to Profile </h1>
<h2><p> Kalo kamu nyerah terhadap program mu yang error lantas untuk apa kamu memulainya?</h2></p>
<%- include('Layout/footer') %>