<h1 class="text-center text-m-start" align="center">
    Welcome to Profile!
</h1>
    <br />
    <!-- Ini adalah elemen h3 yang digunakan untuk menampilkan pesan atau slogan -->
<h3 class="text-center text-m-start" align="center">
    Kalo kamu nyerah terhadap program mu yang error lantas untuk apa kamu memulainya?
</h3>